/*DEFAULT STYLES*/
body {
  background-color: #382425;
}

div {
  background-color: #382425;
  border-radius: 10px;
  border: 3px solid #bb152b;
  color: #fee3e6;
  box-shadow: 0 0 10px #bb152b;
  width: 50%;
  margin: auto;
  padding: 3px;
  margin-bottom: 10px;
}

p {
  color: #fee3e6;
  padding-left: 10px;
  font-size: 17px;
}

p a{
  color: #ff576d;
}

/*SOCIAL MEDIA ICONS*/
.fa {
  padding: 9px;
  margin: 12px;
  text-align:center;
  border-radius: 50px;
  font-size: 70px;
  width: 2.9%;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-github {
  background: #201112;
  color: white;
}

.fa-linkedin {
  background: #201112;
  color: white;
}

.fa-email {
  background: #201112;
  color: white;
}

/*SPECIAL CASES/CLASSES*/
.babyHeader {
  font-size: 20px;
  color:#ff576d;
  text-shadow: 0 0 8px #ed0a28;
  text-align: center;
  padding-left: 0px;
}

.projHeader {
  font-size: 25px;
  color:#ff576d;
  text-shadow: 0 0 8px #ed0a28;
  text-align: center;
  padding-left: 0px;
}

.borderless {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.rainbow {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 18px;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #220505;
}

.navtext {
  float:left;
  padding: 14px 16px;
  font-size: 18px;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
  color:whitesmoke;
  text-decoration: none;
}

.navtext:hover {
  background-color: #bb152b;
}

.navtext-drop {
  float:left;
  padding: 14px 16px;
  font-size: 18px;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
  color:whitesmoke;
  text-decoration: none;
}

.navtext-drop:hover .dropdown {
  display:block;
}

.dropdown {
  display: none;
  position: absolute;
  border: none;
  width: 10%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown a {
  display: block;
  color: whitesmoke;
  background-color: #220505;
  padding: 5px;
  text-decoration: none;
}

.dropdown a:hover {
  background-color: #bb152b;
}

.navtext a {
  color:whitesmoke;
  text-decoration: none;
}

.header {
    color: #fee3e6;
    font-size: 50px;
    margin: 0px;
    padding-left: 20px;
    width: 98.7%;
    background-color: #6d0815;
    text-shadow: 0 0 8px #ed0a28;
 }

 .footer {
  color: #fee3e6;
  font-size: 20px;
  margin: 0px;
  padding-left: 20px;
  width: 98.5%;
  text-align: center;
  border: 0px;
  box-shadow: 0 0 0;
}

.normalimg {
    border: 5px solid #ff576d;
    border-radius: 50%;
    box-shadow: 0 0 8px #ed0a28;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 13%;
}

.projImage {
  margin: auto;
  border: 5px solid #ff576d;
  box-shadow: 0 0 8px #ed0a28;
  text-align: center;
  display: block;
}

/*MODAL STUFF*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  animation: fadeIn 0.5s;
  left: 30%;
  right: auto;
  top: 30%;
  width: 40%; /* Full width */
  padding: 5px;
  height: 50%; /* Full height */
  text-align: center;
  overflow: auto; /* Enable scroll if needed */
  background-color: #201112; /* Fallback color */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.modalMessage {
  border: 0px;
  padding: 0px;
  padding-left: 3px;
  background-color: rgb(96, 0, 0);
  color:white;
  border-radius: 0px;
}